<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="span8">
      <h3><%= AppConfig['app_name'] %></h3>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1><%= t :site_description_1 %> </h1>

    <h2><%= t :site_description_2 %></h2>

    <%= link_to t(:sign_up_now), signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <div class="row">
    <div class="span6">
     <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
    <div class="span6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
     <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
    <div class="span6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="span12">
      <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    </div>
  </div>
<% end %> 