<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.libraries.any? %>
      <h3>Libraries (<%= @user.libraries.count %>)</h3>
      <ol class="libraries">
        <%= render @libraries %>
      </ol>
      <%= will_paginate @libraries %>
    <% end %>
  </div>
</div>