<% provide(:title, t(:libraries)) %>
<h1><%= t :libraries %></h1>
<%= link_to t(:create_library), new_library_path %> 

<%= will_paginate %>

<ul class="users">
  <%= render @libraries %>
</ul>

<%= will_paginate %>