<% provide(:title, @library.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @library.title %>
      </h1>
    </section>
    
    <% if current_user.admin? || current_user?(@library.user) %>
      <section>
        <%= link_to t(:edit), edit_library_path %> 
        | <%= link_to t(:remove), library_path,
            data: { confirm: t(:are_you_sure),
                    :method => :delete } %>
      </section>
    <% end %>
    
    <section>
      <%= @library.category.name %>
    </section>
    <section>
      <%= @library.description %>
    </section>
  </aside>
  <div class="span8">
    <% if @library.items.any? %>
      <h3><%= t :items %> (<%= @library.items.count %>)</h3>
      <ol class="items">
        <%= render @items %>
      </ol>
      <%= will_paginate @items %>
    <% end %>
  </div>
</div>