<footer class="footer">
  <small>
    <a href="<%= AppConfig['app_url'] %>"><%= AppConfig['app_name'] %></a>
    <%= t :by %> <%= AppConfig['app_author'] %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about),   about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
      <li><a href="http://news.catalib.com/"><%= t :news %></a></li>
    </ul>
  </nav>
</footer>