<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <span>
      <%= link_to AppConfig['app_name'], root_path, id: "logo" %>
      <%= link_to image_tag("catalog_small.png", alt: "Catalib", class: "brand"), root_path %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t(:home), root_path %></li>
          <li><%= link_to t(:help), help_path %></li>
          <% if signed_in? %>
            <li><%= link_to t(:users), users_path %></li>
            <li><%= link_to t(:my_libraries), libraries_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t :account %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(:profile), current_user %></li>
                <li><%= link_to t(:settings), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t(:sign_out), signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(:sign_in), signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>